.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  padding-right: 40px;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 14px;
  padding: 5px;
  z-index: 1;
}

.password-toggle:hover {
  color: #333;
}

.password-match-indicator {
  margin-top: 5px;
}

.password-match-indicator span {
  display: flex;
  align-items: center;
  gap: 5px;
}